/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  margin-left: 0.3rem;
}

a:hover .arrow,
a:hover .arrow {
  transform: translateX(4px);
}
